# Keil 项目生成的中间文件和输出文件
*.bak
*.dep
*.d
*.o
*.obj
*.lst
*.lnp
*.mpf
*.mpj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.axf
*.tra
*.iex
*.htm
*.sct
*.map
*.uvopt
*.uvgui.*
*.log
*.dep
*.d
*.su
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
*.zip
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 如果使用 STM32CubeMX，忽略生成的代码和设置文件
#*.ioc
#*.cproject
#*.project
.settings/
MXSettings.xml

# 如果使用 FreeRTOS，忽略生成的配置和调试文件
#FreeRTOSConfig.h
#FreeRTOSConfig.c
#FreeRTOSConfig.o
